
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">

    <h1>Index</h1>

    <a href="/Admin/PdfReport/StaticPdfReport" class="btn btn-outline-primary">Statik Pdf Raporu</a>
    <br />
    <a href="/Admin/PdfReport/StaticCustomerReport" class="btn btn-outline-primary">Statik Pdf Raporu</a>
</div>