
@model List<ContactUs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            <br />
            <h4 class="page-title">Bize Ulaşın Ekranı</h4>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Mesajlar</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                Bize Ulaşın kısmından gönderilen mesajları bu sayfada görüntüleyebilirsiniz.
                            </div>
                            <br />
                            <table class="table align-items-center mb-0">

                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-primary text-sm font-weight-bolder ">Gönderen</th>
                                        <th class="text-uppercase text-primary text-sm font-weight-bolder  ps-2">Konu</th>
                                        <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Tarih</th>
                                        <th class="text-uppercase text-primary text-sm font-weight-bolder ">Sil</th>
                                        <th class="text-uppercase text-primary text-sm font-weight-bolder  text-center">Mesajı Aç</th>
                                    </tr>
                                </thead>
                                <tbody class="border-top">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="align-middle" width="250px">
                                                <h6 class="mb-0 font-weight-bold  text-s">@item.Name</h6>
                                            </td>
                                            <td class="align-middle">
                                                <p class="text-s  mb-0">@item.Subject</p>
                                            </td>
                                            <td class="align-middle " width="150px">
                                                <div class="text-center  ">
                                                    @item.MessageDate.Date.ToShortDateString()
                                                </div>
                                            </td>
                                            <td width="100px" class="align-middle">
                                                <a href="/Admin/ContactUs/DeleteContactUs/@item.ContactUsID" class="btn btn-outline-danger ">Sil</a>
                                            </td>
                                            <td width="120px" class="align-middle">
                                                <a href="/Admin/ContactUs/UpdateDestination/@item.ContactUsID" class="btn btn-outline-success ">Mesajı Aç</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>