@model List<Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container">
            <h2 class="title">Turlarımız</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Paketlerimiz </li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-pricinghny">
    <div class="pricing-inner-info py-5">
        <div class="container py-lg-4">
            <div class="pricing-info-grids">
                @foreach (var item in Model)
                {
                    <div class="price-box">
                        <div class="grid grid-column-2">
                            <div class="column pr-img-gd text-lg-center">
                                <img src="/destinationimages/@item.Image" style="height:80px;width:80px" alt="" class="rounded-circle img-fluid" />
                                <h6 class="pricehead mt-2">
                                    @item.City
                                </h6>
                            </div>
                            <div class="column text-lg-center">
                                <p class="price-title">@item.DayNight</p>
                            </div>
                            <div class="column price-number text-md-right">
                                <h3 class="pricing">
                                    <sup class="pri1">₺</sup>@item.Price<sup class="pri"></sup>
                                </h3>
                                <a class="btn btn-style btn-primary ml-lg-3" href="/Login/SignIn/">Rezervasyon</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

