


@{
    ViewData["Title"] = "GetCityDesID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            <br />
            <h4 class="page-title">Otel Listesi</h4>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Otel Bilgisi Getirme Ekranı</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                Otellerin bilgilerini bu sayfada görüntüleyebilirsiniz ve getirebilirsiniz
                            </div>
                            <form method="post">
                                <div class="form-group">
                                    <label>Şehir Bilgisi </label>
                                    <input type="text" class="form-control form-control-s" placeholder="Şehir bilgisi girin">
                                <button type="submit" class="btn btn-primary">Şehir Ara</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>