@model List<Guide>



<div class="col-md-6">
    <!-- USERS LIST -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Rehberler</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <ul class="users-list clearfix">
                @foreach (var item in Model.Take(4))
                {
                    <li>
                        <img src="@item.Image" width="154px" height="154px" alt="User Image">
                        <span class="users-list-name">@item.Name</span>
                        <span class="users-list-date">@item.Description</span>
                    </li>
                }
            </ul>
        </div>
        <div class="card-footer text-center bg-warning">
            <a href="javascript:">Tüm Rehberleri Görüntüle</a>
        </div>
    </div>
</div>