
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
<h1>Index</h1>
<br />
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info m-1 ml-3">Statik Excel Raporları</a>
<br />
<br />
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-info m-1 ml-3">Tur Listesi Excel Raporları</a>

</div>