
@model Guide

@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0 text-dark">Yeni Rehber Ekleme Ekranı</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <hr class="horizontal gray-light my-0">
                    <form method="post" >
                        <div class="form-group">
                            <label>Ad Soyad</label>
                            <input type="text" class="form-control form-control-s" asp-for="Name" placeholder="Rehber ad soyad girin">
                            <span asp-validation-for="Name" ></span>
                        </div>
                        <div class="form-group">
                            <label>Açıklama</label>
                            <input type="text" class="form-control form-control-s" asp-for="Description" placeholder="Rehber açıklaması girin">
                        </div>
                        <span asp-validation-for="Description"></span>
                        <div class="form-group">
                            <label>Twitter Url</label>
                            <input type="text" class="form-control form-control-s" asp-for="TwitterUrl" placeholder="Rehber Twitter Url girin">
                        </div>
                        <div class="form-group">
                            <label>Instagram Url</label>
                            <input type="text" class="form-control form-control-s" asp-for="InstagramUrl" placeholder="Rehber Instagram Url girin">
                        </div>
                        <button type="submit" class="btn btn-primary">Rehber Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>