
@model List<Guide>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            <br />
            <h4 class="page-title">Rehberler</h4>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Rehber Ekranı</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                Rehberlerin bilgilerini bu sayfada görüntüleyebilir ve güncelleyebilirsiniz
                            </div>
                            <br />
                            <table class="table align-items-center mb-0">

                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Ad Soyad</th>
                                        <th class="text-uppercase text-primary text-sm font-weight-bolder  ps-2">Açıklama </th>
                                        <th class="text-uppercase text-primary text-sm font-weight-bolder ">Durum</th>
                                        <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Düzenle</th>
                                    </tr>
                                </thead>
                                <tbody class="border-top">
                                    @foreach (var item in Model)
                                    {
                                        <tr >
                                            <td width="250px" >
                                                <div class="d-flex flex-column align-items-center align-self-center mb-0 px-2 py-1">
                                                    <div>
                                                        <img src="@item.Image" class="rounded-circle me-3" style="width:60px;height:60px;" alt="user1">
                                                    </div>
                                                    <div class="mt-2">
                                                        <h6 class="p-0 mb-0 text-s">@item.Name</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle">
                                                <p class="text-s">@item.Description</p>
                                            </td>
                                            <td class="align-middle">
                                                @if (item.Status == true)
                                                {
                                                    <button class="btn btn-toggle">@item.Status</button>
                                                }
                                                
                                            </td>
                                            <td width="100px" class="align-middle">
                                                <a href="/Admin/Guide/EditGuide/@item.GuideID" class="btn btn-outline-info ">Düzenle</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            <div>
                                <a href="/Login/SignUp/" class="btn btn-primary">Yeni Kullanıcı Oluşturun</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


