@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="content-wrapper">
    <div class="m-3">
        <h2>Şehir / Ülke İşlemleri</h2>
        <br />
        <button type="button" id="btngetlist" class="btn bg-gradient-success">Şehir Listesi</button>
        &nbsp;
        <button type="button" id="btnaddcity" class="btn bg-gradient-primary">Şehir Ekle</button>
        &nbsp;
        <button type="button" id="btngetbyid" class="btn bg-gradient-warning">Şehir Getir</button>
        &nbsp;
        <button type="button" id="btndelete" class="btn bg-gradient-danger">Şehir Sil</button>

        <br />
        <div id="cityList" class="m-3">
            Buraya şehir isimleri gelecek
        </div>
        <br />
        <div class="row m-2">
            <input type="text" id="txtid" placeholder="Şehir ID  değerini giriniz" class="form-control mb-3" />
        </div>
        <div class="row m-2">
            <input type="text" id="txtdelete" placeholder="Silmek istediğiniz Şehir ID değerini giriniz" class="form-control mb-3" />
        </div>
        <div id="destinationlistbyid">
        </div>
        <br />
        <div class="row m-2">
            <input type="text" id="txtcity" placeholder="Şehir Adını giriniz" class="form-control mb-3" />
            <input type="text" id="txtdaynight" placeholder="Gün / Gece sayısını giriniz" class="form-control mb-3" />
            <input type="text" id="txtprice" placeholder="Fiyat" class="form-control mb-3" />
            <input type="text" id="txtcapacity" placeholder="Konaklayacak kişi sayısını giriniz" class="form-control mb-3" />
        </div>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $('#btngetlist').click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/CityList/",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class=table table-bordered> <tr><th> Rota </th><th> Gün / Gece </th><th>Fiyat</th></tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.City}</td> <td>${value.DayNight}</td> <td>${value.Price}</td></tr> `
                });
                tablehtml += "</table>";
                $("#cityList").html(tablehtml);
            }
        });
    });

    $("#btnaddcity").click(function () {
        let cityvalues = {
            city: $("#txtcity").val(),
            DayNight: $("#txtdaynight").val(),
            Price: $("#txtprice").val(),
            Capacity: $("#txtcapacity").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/City/AddCityDestination/",
            data: cityvalues,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Şehir - Rota başarılı bir şekilde eklendi.",
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    });

    $("#btngetbyid").click(x => {
        let id = $("#txtid").val();

        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/GetByID/",
            data: { DestinationID: id },
            success: function (fun2) {
                let result = jQuery.parseJSON(fun2);
                console.log(result);
                let htmlstr = `<table class=table table-bordered> <tr><th> Rota </th><th> Gün / Gece </th><th>Fiyat</th></tr><tr><td>${result.City}</td><td>${result.DayNight}</td><td>                     ${result.Capacity}</td></td></tr></table>`;
                $("#destinationlistbyid").html(htmlstr);
            }
        });
    });

    $("#btndelete").click(x => {
        let id = $("#txtdelete").val();
        $.ajax({
            url: "/Admin/City/DeleteCity" + id,
            type: "post",
            contentType: "application/json",
            dataType: "json",
            success: function (fun3) {
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Şehir - Rota başarılı bir şekilde silindi.",
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    });
</script>

