﻿

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Admin/Dashboard/Index" class="brand-link">
        <img src="~/AdminLTE-3.2.0/dist/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text text-center font-weight-light">Traversal</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/AdminLTE-3.2.0/dist/img/11.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/Admin/Dashboard/Index" class="d-block">Admin</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Default/Index" class="nav-link">
                        <i class="fi fi-sr-apps"></i> &ensp;
                        <p>
                            Siteye Git
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Dashboard/Index" class="nav-link">
                        <i class="fi fi-sr-home"></i> &ensp;
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Destination/Index" class="nav-link">
                        <i class="fi fi-sr-globe"></i>&ensp;
                        <p>
                            Rotalar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Reservation/Index" class="nav-link">
                        <i class="fi fi-sr-calendar-clock"></i>&ensp;
                        <p>
                            Rezervasyonlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Comment/Index" class="nav-link">
                        <i class="fi fi-sr-comments"></i> &ensp;
                        <p>
                            Yorumlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/User/Index" class="nav-link">
                        <i class="fi fi-sr-hr-group"></i> &ensp;
                        <p>
                            Misafirler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Guide/Index" class="nav-link">
                        <i class="fi fi-sr-guide"></i>&ensp;
                        <p>
                            Rehberler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Report/Index" class="nav-link">
                        <i class="fi fi-sr-report"></i>&ensp;
                        <p>
                            Raporlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Message/Index" class="nav-link">
                        <i class="fi fi-sr-paper-plane"></i> &ensp;
                        <p>
                            Mesajlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Mail/Index" class="nav-link">
                        <i class="fi fi-sr-mailbox"></i> &ensp;
                        <p>
                            Mail Kutusu
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Feature/Index" class="nav-link">
                        <i class="fi fi-sr-badge-check"></i> &ensp;
                        <p>
                            Öne Çıkanlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Feature/Index" class="nav-link">
                        <i class="fi fi-sr-refer-arrow"></i> &ensp;
                        <p>
                            Referanslar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Feature/Index" class="nav-link">
                        <i class="fi fi-sr-comment-info"></i>&ensp;
                        <p>
                            Alt Bilgi
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Setting/Index" class="nav-link">
                        <i class="fi fi-sr-settings"></i>&ensp;
                        <p>
                            Ayarlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Login/LogOut" class="nav-link">
                        <i class="fi fi-sr-sign-out-alt"></i>&ensp;
                        <p>
                            Çıkış
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>