
@model Reservation

@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-6">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6 class="font-weight-bolder">Yeni Rezervasyon</h6>
                </div>
                <div class="card-body">
                    <form method="post" role="form text-left">
                        <div class="mb-3">
                            @Html.DropDownListFor(x => x.Destination, (List<SelectListItem>) ViewBag.v, new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            <input type="text" required asp-for="PersonCount" class="form-control mb-2" placeholder="Kişi Sayısı" aria-label="Surname">
                        </div>
                        <div class="mb-3">
                            <input type="date" required asp-for="ReservationDate" class="form-control mb-2" placeholder="Username" aria-label="Username">
                        </div>
                        <div class="mb-3">
                            <textarea asp-for="Description" class="form-control mb-2" placeholder="Varsa eklemek istedikleriniz" aria-label="Email"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Rezervasyon Oluştur</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>